<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            background-color: transparent;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            max-width: 100%;
        }

        td {
            word-wrap: break-word;
            word-break: break-all;
        }

        img {
            border-style: none;
            vertical-align: middle;
            max-width: 100%;
        }

        body {
            font-size: 14px;
            font-family: "Source Han Sans CN", sans-serif;
        }
    </style>
    <%
        let testText = "Neal Ding";
        let testTimeStamp = 1603854429277;
    %>
</head>
<body>
<div class="cover">
    <p>From Request: <%= content %></p>
    <p>Here is the build-in function demo:</p>
    <dl>
        <dt>Barcode: <%= testText %></dt>
        <dd>
            <span>Result: </span><img src="<%= await __ejsHelper.barcode(testText); %>"/>
        </dd>
        <dt>Qrcode: <%= testText %></dt>
        <dd>
            <span>Result: </span><img src="<%= await __ejsHelper.qrcode(testText); %>"/>
        </dd>
        <dt>TimeStamp: <%= testTimeStamp %></dt>
        <dd>
            <p>DateFormat: <%= await __ejsHelper.dayjs(testTimeStamp).format("YYYY-MM-DD"); %></p>
        </dd>
    </dl>
</div>

</body>

</html>
